.mainContent {
  background: rgb(56,1,133);
  background: linear-gradient(180deg, rgba(56,1,133,1) 0%, rgba(46,1,110,1) 25%, rgba(33,0,78,1) 43%, rgba(28,0,68,1) 55%, rgba(21,0,51,1) 100%);
  background-repeat: repeat;

  max-width: 1920px;
  height: 100vh;
}
