.mainContent {
  background-image: url('../../assets/bgImage.png');
  background-position:  center bottom;
  background-size: cover;


  margin: 0 4rem 4rem 4rem;
  padding: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1,span {
    font-family: 'Open Sans';
    font-size: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 5.8rem;
    font-weight: bolder;
    color: var(--white);
    letter-spacing: -.6px;

    span {
      font-size: 108px;
    }
  }

  p {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
    color: var(--white);
    text-align: center;
    margin: 0px 6rem 1.25rem;
    padding-top: 1rem;

  }

  button {
    font-family: 'Open Sans';
    padding: 1rem 4rem;
    color: var(--white);
    background: var(--blue);
    border-radius: 0.25rem;
    border: none;
    width: 265px;
    height: 50px;
    max-width: 100%;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;

    &:hover {
      opacity: 0.8;
      transition: 0.2s ease all;
    }
  }

  img {
    margin: 2rem auto 0 auto;
    width: 294px;
    height: auto;
    max-width: 100%;
  }
}
