.cardlistContainer  {
  padding: 0 calc(3.5vw + 24px);
  padding-right: 0;
  max-width: 100vw;
  width: 100vw;

    h1 {
      font-family: 'Open Sans';
      font-size: 20px;
      color: var(--white);
      font-weight: bold;
      letter-spacing: .25px;
      line-height: 1.4rem;
      margin-bottom: -2rem;
      margin-left: 20px;

    }
    padding-bottom: 0.625rem;

    section {
      padding-bottom: 2.5rem;
    }

}



.SwiperCards{
  margin: 0px 60px 0px 20px;
  img {
    width: auto;
    height: 280px;
    border-radius: 0.6rem;
    transition: .3s ease-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: .3s ease-in;
    }

  }
}


.CardItem{
  padding-top: 20px;
}
