.cardlistContainer  {
  padding: 0 calc(3.5vw + 24px);
  width: 100vw;

    h1 {
      font-family: 'Open Sans';
      font-size: 20px;
      color: var(--white);
      font-weight: bold;
      letter-spacing: .25px;
      line-height: 1.4rem;
      margin-bottom: -1.25rem;
    }
    padding-bottom: 0.625rem;

}

.showContainer{
  padding-bottom: 10px;
  display: flex;

  img {
    width: 180px;
    height: 280px;
    border-radius: 0.6rem;
    transition: .3s ease-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: .3s ease-in;
    }


  }

  img:not(:first-child){
    margin-left: 20px;
  }
}


