.cardlistContainer  {

  padding: 0 calc(3.5vw + 24px);
  width: 100%;

  h1 {
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  letter-spacing: .25px;
  line-height: 1.4em;
  margin-bottom: -10px;
  padding-left: 20px;
}

}


.showContainer{
  padding-bottom: 10px;
  display: flex;

  img {
    margin-left: 2rem;
    width: 180px;
    height: 270px;
    border-radius: 0px;
  }

}

