.headerContainer {
  height: 5rem;
  background: var(--white);
}

.headerContent {
  max-width: 1920px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 132px;
  height: 18px;
}

nav {
  color: var(--purple);
  font-weight: 700;
  display: flex;
  flex: 1;
  margin-left: 5rem;

  a {
    margin: 2.5rem;
  }

  a:hover{
    color: var(--red);
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
}


.buttons {
  display: flex;
  align-items: center;

  button {
    margin: .6rem;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    background: none;
  }

  #btn1 {
    background: var(--yellow);
    border-radius: 0.25rem;

    &:hover{
      opacity: 0.8;
      transform: scale(1.05);
      transition: 0.3s ease-in-out;
    }
  }

  #btn2 {
    color: var(--purple);

    &:hover{
      color: var(--red);
      transition: 0.3s ease-in-out;
    }
  }
}

.FiSearch {
  color: var(--purple);
  cursor: pointer;
}
